body{
    font-family: 'Raleway', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.header-name-color{
    color: rgb(255, 196, 0);
}
.header-center{
    text-align: center;
}
.broder-color{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(250, 225, 114), tomato);
    border-image-slice: 1;
}
.flexible{
    display: flex;
    margin-bottom: 30px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.button-style{
    text-decoration: none;
    background-image: linear-gradient(tomato, salmon);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.width-3-1{
    width: 35%;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;

    border-radius: 5%;
}
.width-3-1 img{
    width: 30%;
}
#mission-color{
    background-color: rgb(163, 228, 228);
}
#vissoin-color{
    background-color: rgba(255, 170, 183, 0.432);
}
#goals-color{
    background-color: lightyellow;
}
.develop-now{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left;
}
.gobal-community{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 20%;
}